<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="CSS/styles.css">
    <script src="JS/script.js"></script>
</head>

<body style="text-align: center;">
    <h2>Cadastro de Funcionário</h2>
    <form action="" class="formulario">
        <input type="text" placeholder="Name" name="nome" id="nome">
        <input type="email" placeholder="Email" name="email" id="email">
        <input type="password" name="senha" id="senha" placeholder="Senha">
        <input type="number" name="telefone" id="telefone" placeholder="Telefone">
        <div class="buttons">
            <button type="submit">Enviar</button>
            <button type="reset">Limpar</button>
        </div>
    </form>
</body>

</html>