.welcome-area h2{
    font-size: 15px !important;
}

.welcome-area p{
    font-size: 11px !important;
}
.company-resume h6{
    font-size: 11px !important;
}
.chart-div .chart .graphics #myChart1{
    height: 225px !important;
    position: relative;
    overflow: hidden;
}
.chart-div .chart .graphics #myChart2{
    height: 180px !important;
    width: 180px !important;
}
.color-list{
    text-align: start;
    padding: 0 !important;
}
.color-list .colors span{
    width: 10px !important;
    height: 10px !important;
    margin: 0 !important;
}
p{
    font-size: 11px !important;
}
.color-list .colors p{
    
    text-align: left !important;
    margin: 0 !important;
    padding: 0 !important;
}
.color-list .colors:nth-child(1) p::after{
    content: "28";
    position: absolute;
    left: 160px;
}
.color-list .colors:nth-child(2) p::after{
    content: "34";
    position: absolute;
    left: 160px;
}
.color-list .colors:nth-child(3) p::after{
    content: "18";
    position: absolute;
    left: 160px;
}
.color-list .colors:nth-child(4) p::after{
    content: "24";
    position: absolute;
    left: 160px;
}
.color-list .colors:nth-child(5) p::after{
    content: "24";
    position: absolute;
    left: 160px;
}
.recent-users ul li, .recent-users ul li h6{
    font-size: 11px !important;
}
.chart2{
    padding-bottom: 25px !important;
}
.chart-div .chart .graphics .colors li{
    justify-content: start !important;
}